body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.container h2 {
    font-family: verdana;
    text-align: center;
}

.form-group {
    margin: 10px;
}

.form-group label {
    font-family: verdana;
    padding-left: 2px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    height: 35px;
}

.form-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}